/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
*{
  font-family: "Arial", sans-serif;
}

header{
  background: #FFDBAA;
  font-weight:bold;
  padding: 10px;
  margin: 0;
  border: 1px solid black;
  display: flex;
  justify-content:space-around;
}

body{
  background: #D4A76A;
  margin: 0;
}
h1{
  color: #553100;
}

button{
  background: #805215;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

nav > button {
  border: none;

  padding: 15px;
  margin: 20px 10px 0 10px;
}

.cards{
  display: flex;
  justify-content: space-between;
}

.card{

  background: white;
  margin: 40px;
  padding: 0px 15px 15px 15px;
  box-shadow: 1px 1px 1px 1px black;


}

.card button{
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 15px 0;
}

h2{
  text-align: center;
}

.lg{
  padding-top: 5px;
}